@model List<Ejercicio_5.Models.EmployeeView>

@{
    ViewBag.Title = "Index";
}



<body>
  
    <div class="container">
        <h2>Empleados Londinenses</h2>
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="table-active">
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Posición</th>
                </tr>
            </thead>
            <tbody>

                @foreach (Ejercicio_5.Models.EmployeeView employees in Model)
                {                        
                <tr>
                    <td>@employees.FirstName</td>
                    <td>@employees.LastName</td>
                    <td>@employees.Title</td>
                    <td>
                        @using (Html.BeginForm("Update", "Employee", employees))
                        {
                            <input type="submit" class="btn btn-success" value="Cambiar" />
                        }
                        @using (Html.BeginForm("Delete", "Employee", employees))
                        {
                            <input type="submit" class="btn btn-danger" value="Borrar" />
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
        @using (Html.BeginForm("Insert", "Employee",FormMethod.Get))
        {
            <input type="submit" class="btn btn-primary" value="Insertar") />
        }

    </div>
</body>






