@model Ejercicio_5.Models.EmployeeView

@{
    ViewBag.Title = "Insert";
}


<head>

</head>
<body>

    <div class="container">
        <h3>Ingrese Empelado</h3>
        <form action="/action_page.php" class="was-validated">
            <div class="form-group">
                <label for="FirstName">Nombre</label>
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                <div class="valid-feedback">valido</div>
                <div class="invalid-feedback">Ingrese los datos</div>
            </div>
            <div class="form-group">
                <label for="LastName">Apellido</label>
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                <div class="valid-feedback">valido</div>
                <div class="invalid-feedback">Ingrese los datos</div>
            </div>
            <div class="form-group">
                <label for="Title">Titulo</label>
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                <div class="valid-feedback">valido</div>
                <div class="invalid-feedback">Ingrese los datos</div>
            </div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
        </form>
    </div>

</body>
